@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
